BOT_TOKEN=PASTE_YOUR_BOTFATHER_TOKEN_HERE
ADMIN_IDS=123456789
CHANNEL_URL=https://t.me/Ipay_Official_Channel
GROUP_URL=https://t.me/ipayvip_1
CUSTOMER_SERVICE_URL=https://t.me/ipay800
START_NOW_URL=https://share.ipaynow.net/?data=dWlkPTg5NDIzNSZjaGFubmVsPTEwMDEmYnVzaW5lc3NfaWQ9OTAwMDAy
COMMISSION=4%
REFERRER_REWARD=50
REFERRED_REWARD=100
PORT=7860
DB_PATH=ipay.db
